.examples {
  @extend %section;
  &__container {
    @extend %container;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  &__filter-list {
    @extend %list;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  &__filter-item {
    box-shadow: $duration $timing-function;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__filter-button {
    font-family: inherit;
    color: $title-text-color;
    background-color: $first-bg-color;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    transition: color $duration $timing-function,
      background-color $duration $timing-function,
      box-shadow $duration $timing-function;
    &:focus,
    &:hover {
      color: $first-bg-color;
      background-color: $accent-color;
    }
  }

  &__card-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  &__item {
    width: 370px;
    margin-top: 30px;
    margin-left: 30px;
  }
  &__link {
    display: block;
    text-decoration: none;
    transition: box-shadow $timing-function $duration;
  }
  &__link:hover &__overlay,
  &__link:focus &__overlay {
    transform: translateY(0);
  }

  &__box {
    position: relative;
    overflow: hidden;
  }
  &__image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &__overlay {
    background-image: linear-gradient(
      to right,
      rgba(33, 150, 243, 0.9),
      rgba(33, 150, 243, 0.9)
    );
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform $duration $timing-function;
  }
  &__overlay-text {
    padding: 63px 24px;
    color: $white-text-color;
    text-align: left;
    font-size: 18px;
    line-height: 1.875;
    letter-spacing: 0.03em;
  }
  &__title-box {
    border-bottom: 1px solid $examples-border-color;
    border-left: 1px solid $examples-border-color;
    border-right: 1px solid $examples-border-color;
    padding: 20px 24px;
  }
  &__product-name {
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    margin-bottom: 4px;
  }
  &__product-type {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-align: left;
  }
}
