body {
  font-family: "roboto", "sans-serif";
  background-color: $main-bg-color;
  color: $title-text-color;
  width: 100%;
}
.header {
  position: relative;
  border-bottom: 1px solid $header-border-color;
}
.header-container {
  @extend %container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.text-logo {
  color: $accent-color;
  font-family: raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  @media screen and (min-width: $tablet) {
    margin-right: 88px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 28px;
    margin-right: 93px;
  }
  &__black {
    color: $title-text-color;
  }
}

.navigate {
  text-align: left;
  @extend %list;
  @media screen and (max-width: $tablet) {
    margin-bottom: 302px;
  }
  &__item:not(:last-child) {
    @media screen and (min-width: $tablet) {
      margin-right: 50px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  &__link {
    font-size: 40px;
    text-decoration: none;
    color: $title-text-color;
    @media screen and (min-width: $tablet) {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      padding-top: 32px;
      padding-bottom: 32px;
    }

    transition: color $timing-function $duration;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}
.active {
  position: relative;
  color: $accent-color;
}
.active::after {
  @media screen and (min-width: $tablet) {
    position: absolute;
    bottom: -3px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}
.header-contact {
  @extend %list;
  align-items: flex-start;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: auto;
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $tablet) {
      margin-right: 50px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }
  }

  &__link {
    @media screen and (min-width: $tablet) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    @media screen and (max-width: 767px) {
      font-size: 24px;
    }
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color $duration $timing-function;
    color: $primary-text-color;
  }
  &__item:nth-child(2) &__link {
    @media screen and (max-width: 767px) {
      font-size: 34px;
      color: $accent-color;
    }
  }
  &__link:focus,
  &__link:hover {
    color: $accent-color;
  }
  &__icon {
    @media screen and (max-width: 767px) {
      display: none;
    }
    fill: currentColor;
    margin-right: 10px;
    padding: 0px;
    transition: fill $duration $timing-function;
  }
  &__icon:hover {
    fill: $accent-color;
  }
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 1;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: flex;
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: 767px) {
    display: none;
    &.is-open {
      display: flex;
      flex-direction: column;
      position: fixed;
      overflow: hidden;
      background-color: white;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 40px 48px;
      align-items: baseline;
      z-index: 0;
    }
  }
}
.header-mob-soc-list {
  display: flex;
  @extend %list;
  margin-top: 64px;

  &__item {
    position: relative;
  }

  &__link {
    text-decoration: none;
    font-size: 18px;
    color: $accent-color;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__item:not(:first-child)::before {
    left: -10px;
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 22px;
    border-radius: 2px;
    background-color: rgb(33 33 33 /0.2);
  }
}
