.section-team {
  @extend %section;
  background-color: $first-bg-color;
  &__container {
    @extend %container;
  }
  &__header {
    color: $title-text-color;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
  }
}
.team-list {
  @extend %list;
  display: flex;
  @media screen and(max-width:767px) {
    flex-direction: column;
  }
  @media screen and(min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  &__item:not(:last-child) {
    @media screen and(max-width:767px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: $mobile) and (max-width: 767) {
      width: 450px;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;

    object-fit: cover;
  }
  &__co-worker-info {
    padding: 30px 122px 24px 122px;

    @media screen and (min-width: $tablet) and(max-width: 1199px) {
      padding: 30px 74px 24px 74px;
    }
    @media screen and(min-width: $desktop) {
      padding: 30px 32px;
    }
  }
  &__co-worker-name {
    margin-bottom: 10px;
    color: $title-text-color;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__co-worker-position {
    text-align: center;
    color: $primary-text-color;
    margin-bottom: 16px;
  }
}
.team-social {
  @extend %list;
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__logo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $logo-companies-color;
    transition: background-color $duration $timing-function,
      color $duration $timing-function;
  }
  &__logo:hover,
  &__logo:focus {
    fill: currentColor;
    color: $white-text-color;
    background-color: $accent-color;
  }
  &__icon {
    fill: currentColor;
  }
}
