$logo-companies-color: #afb1b8;
$examples-border-color: #eeeeee;
$header-border-color: #ececec;
$primary-text-color: #757575;
$title-text-color: #212121;
$white-text-color: #ffffff;
$contact-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$main-button-hover-color: #188ce8;
$main-bg-color: #ffffff;
$first-bg-color: hwb(250 96% 2%);
$secondary-bg-color: #2f303a;
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
